*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.seleccionar{
    height: 100px;
    width: 100vw;
    background-color: darkblue;
    color: white;
    text-align: center;
    margin: auto 0px;
}
select, label{
    margin-top: 35px;
}
h1{
    margin-top: 20px;
    margin-left: 10px;
}
.hr-hr{
    margin-bottom: 60px;
}
.hr{
    margin: 10px;
}
main, h1{
    text-align: center;
}
/* JS */
.alerta{
    font-size: 25px;
    padding: 100px auto;
    background-color: red;
}